/* REFERENCES >>>
  1) Variables
    a) https://sass-lang.com/documentation/variables/
*/

// color scheme >>> variables
$seleted-color: #fa003f;  
$accent-color: #888;
$primary-color: #28282B;
$secondary-color: #DDDDDD;

// background img variable for easy updates
$background-img: './assets/bg.jpg';

* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url($background-img);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
